html {
  background-color: black;
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@media (max-width: 700px) {
  body, html {
    width: 150%;
  }
}
@media (max-width: 400px) {
  body, html {
    width: 160%;
  }
}
@media (max-width: 300px) {
  body, html {
    width: 160%;
  }
}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
